@tailwind base;

* {
  touch-action: manipulation;
}

@tailwind components;

@tailwind utilities;

@responsive {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .justify-evenly {
    justify-content: space-evenly;
  }

  .grid {
    display: grid;
  }
}