@tailwind base;

* {
  touch-action: manipulation;
}

@tailwind components;

.heading-grid {
  @apply grid items-center justify-center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.d-pad {
  display: grid;
  height: 65vw;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
  grid-template-areas: 
    '. up .'
    'left up right'
    'left down right'
    '. down .';
  gap: 1rem;
}

.d-button {
  @apply bg-gray-600 shadow-lg rounded-lg cursor-pointer;
  font-size: 15vw;
}

@screen md {
  .d-button {
    @apply text-4xl;
  }

  .d-pad {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 250px;
    width: 400px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .d-pad {
    display: none;
  }
}

.up {
  grid-area: up;
}

.down {
  grid-area: down;
}

.right {
  grid-area: right;
}

.left {
  grid-area: left;
}

@tailwind utilities;

@responsive {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .justify-evenly {
    justify-content: space-evenly;
  }

  .grid {
    display: grid;
  }
}